@model QLPG.ViewModel.MultipleData
@{
    ViewBag.Title = "ThemND";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Thêm Người Dùng</title>
    <link href="~/css/goitap.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Thêm Người Dùng
        </div>
        <form method="post" action="ThemND">
            <label>Tên Quyền</label>
            <select id="disease-list" name="id_Role">
                @foreach (var item in Model.roles)
                {
                    <option value="@item.id_Role">@item.Roles1</option>
                }
            </select>
            <div class="field">
                <input type="text" name="TenNV">
                <label>Tên Nhân viên</label>
            </div>
            <div class="field">
                <input type="text" name="SDT">
                <label>Số Điện Thoại</label>
            </div>
            <div class="field">
                <input type="text" name="Email">
                <label>Email</label>
            </div>
            <div class="field">
                <input type="text" name="Username">
                <label>Tên đăng nhập</label>
            </div>
            <div class="field">
                <input type="text" name="Pass">
                <label>Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Thêm">
            </div>
            <div class="signup-link">
                <a href="/User/NguoiDung">Quay về</a>
            </div>
        </form>
    </div>
</body>
</html>


